 .u-section-1 {
  background-image: url("images/fe2d1c48-42a7-bcbc-d8f3-b0b39870d5bd.jpeg");
  background-position: 50% 50%;
  min-height: 609px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/_R_L0700.jpeg?rand=a5e9");
  background-position: 50% 50%;
  min-height: 624px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 10px 16px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: -2px 2px 8px 0 rgba(51,51,51,1);
  margin: 546px 350px 0 auto;
  padding: 10px 81px 11px 80px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-weight: normal;
  letter-spacing: normal;
  margin: -183px 0 0 37px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(51,51,51,0.4);
  margin: 37px auto 0 372px;
  padding: 9px 30px 11px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 393px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 540px;
    margin-right: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -177px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-left: 280px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 273px;
  }

  .u-section-1 .u-image-1 {
    min-height: 603px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 175px;
  }

  .u-section-1 .u-image-1 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 550px;
    margin-right: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -187px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 41px;
    margin-left: 78px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 587px;
  }

  .u-section-1 .u-image-1 {
    min-height: 629px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 571px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    letter-spacing: 3px;
    margin-top: -253px;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-top: 82px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 415px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 10px;
  margin: 60px 20px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 27px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 27px 20px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 470px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 97px;
  margin: 48px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -118px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 84px 30px 0;
}

.u-section-3 .u-text-4 {
  margin: -26px 18px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -87px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 68px;
    margin-bottom: 43px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 827px;
}

.u-section-4 .u-text-1 {
  width: 795px;
  font-size: 2.25rem;
  letter-spacing: 8px;
  margin: 90px auto 0;
}

.u-section-4 .u-text-2 {
  width: 795px;
  margin: 33px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0 73px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-icon-2 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0 73px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-icon-3 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0 73px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-icon-4 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-10 {
  margin: 20px 1px 0 73px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-icon-5 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-12 {
  margin: 20px 1px 0 73px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-icon-6 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -53px 0 0 73px;
}

.u-section-4 .u-text-14 {
  margin: 20px 1px 0 73px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    width: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    width: auto;
  }

  .u-section-4 .u-text-13 {
    width: auto;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 203px;
}

.u-section-5 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 40px;
} .u-section-6 {
  min-height: 878px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/_R_M0593n.jpeg");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/_R_L0702.jpeg");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  background-image: url("images/_R_L0796.jpeg");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/_R_L0758.jpeg");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 68px 0 50px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 100vh;
  }

  .u-section-6 .u-image-1 {
    min-height: 296px;
  }

  .u-section-6 .u-image-2 {
    min-height: 296px;
  }

  .u-section-6 .u-image-3 {
    min-height: 296px;
  }

  .u-section-6 .u-image-4 {
    min-height: 296px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin: 35px calc(((100% - 940px) / 2) + 401px) 42px calc(((100% - 940px) / 2) + 345px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1460px;
  }

  .u-section-6 .u-image-1 {
    min-height: 227px;
  }

  .u-section-6 .u-image-2 {
    min-height: 227px;
  }

  .u-section-6 .u-image-3 {
    min-height: 227px;
  }

  .u-section-6 .u-image-4 {
    min-height: 227px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 291px);
    margin-left: calc(((100% - 720px) / 2) + 235px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    min-height: 511px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 511px;
  }

  .u-section-6 .u-image-3 {
    min-height: 511px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 511px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 201px);
    margin-left: calc(((100% - 540px) / 2) + 145px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 322px;
  }

  .u-section-6 .u-image-2 {
    min-height: 322px;
  }

  .u-section-6 .u-image-3 {
    min-height: 322px;
  }

  .u-section-6 .u-image-4 {
    min-height: 322px;
  }

  .u-section-6 .u-text-1 {
    margin: 63px auto 60px;
  }
} .u-section-7 {
  min-height: 709px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/WhatsAppImage2022-06-22at11.57.07AM.jpeg");
  min-height: 355px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  min-height: 355px;
  background-image: url("images/add2.jpeg");
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  background-image: url("images/WhatsAppImage2022-06-22at11.57.05AM.jpeg");
  min-height: 355px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  min-height: 355px;
  background-image: url("images/WhatsAppImage2022-06-22at11.57.08AM.jpeg");
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 585px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-image-1 {
    min-height: 292px;
  }

  .u-section-7 .u-image-2 {
    min-height: 292px;
  }

  .u-section-7 .u-image-3 {
    min-height: 292px;
  }

  .u-section-7 .u-image-4 {
    min-height: 292px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 707px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 292px;
  }

  .u-section-7 .u-image-1 {
    min-height: 224px;
  }

  .u-section-7 .u-image-2 {
    min-height: 224px;
  }

  .u-section-7 .u-image-3 {
    min-height: 224px;
  }

  .u-section-7 .u-image-4 {
    min-height: 224px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 2285px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 996px;
  }

  .u-section-7 .u-image-1 {
    min-height: 336px;
  }

  .u-section-7 .u-image-2 {
    min-height: 336px;
  }

  .u-section-7 .u-image-3 {
    min-height: 336px;
  }

  .u-section-7 .u-image-4 {
    min-height: 336px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 848px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 244px;
  }

  .u-section-7 .u-image-1 {
    min-height: 212px;
  }

  .u-section-7 .u-image-2 {
    min-height: 212px;
  }

  .u-section-7 .u-image-3 {
    min-height: 212px;
  }

  .u-section-7 .u-image-4 {
    min-height: 212px;
  }
} .u-section-8 {
  min-height: 847px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 846px;
}

.u-section-8 .u-image-1 {
  min-height: 846px;
  background-image: url("images/add1.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  min-height: 846px;
  background-image: url("images/WhatsAppImage2022-06-22at11.57.04AM.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 699px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 550px;
  }

  .u-section-8 .u-image-1 {
    min-height: 698px;
  }

  .u-section-8 .u-image-2 {
    min-height: 698px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 635px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    min-height: 224px;
  }

  .u-section-8 .u-image-1 {
    min-height: 535px;
  }

  .u-section-8 .u-image-2 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 2213px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 760px;
  }

  .u-section-8 .u-image-1 {
    min-height: 803px;
  }

  .u-section-8 .u-image-2 {
    min-height: 803px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1013px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 166px;
  }

  .u-section-8 .u-image-1 {
    min-height: 506px;
  }

  .u-section-8 .u-image-2 {
    min-height: 506px;
  }
} .u-section-9 {
  min-height: 1392px;
}

.u-section-9 .u-image-1 {
  min-height: 1404px;
  background-image: url("images/WhatsAppImage2022-06-22at11.57.09AM.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 1406px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    background-position: 32.84% 50%;
  }
}